:root{
    --cor-primaria: #284A63;
    --cor-secundaria:#E6B503;
    --cor-secundaria2: #FFFFFF;
    --cor-terciaria: #3C6D71;
    --cor-x: #D9D9D9;
}


*{
    border: 0;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #3C6E71;

    color: white;
}

.tudo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

.button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilos gerais */
body {
    /* font-family: 'Arial', sans-serif; */
background-color: #284A63;}

.cabecalho{
    background-color: var(--cor-secundaria2);
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
}

nav {
    background-color: #193d33;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicione uma sombra */
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #155e4d;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #1a936f;
    font-size: 24px;
    margin-bottom: 10px;
}

.material {
    margin-bottom: 20px;
}

.material img {
    max-width: 100%;
    height: auto;
}

label {
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.botoes{
    background-color: var(--cor-secundaria);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Adicione o efeito de transição */
    box-shadow: 0 2px 4px rgba(5, 5, 5, 5); /* Adicione uma sombra */
}

.botoes:hover{
    background-color: #284B63;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Aumente a sombra no hover */
}

.botoes:active{
    background-color: #000000;
}

ul{
    font-size: 16px;
}

/* Estilos para o footer */


/*Estilo para Login*/

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.principal__espaco{
    display: flex;
    justify-content: center;
}

.principal__conteudo {
    width: 240px;
}

.botao{
    display: flex;
    gap: 10px;
}

/*Estilo para Cadastro*/

.principal2 {
    display: flex;
}

.principal2__1{
    display: flex;
    flex-direction: column;
}

.principal2__conteudo{
    display: flex;
    flex-direction: row;
    height: 250px;
    gap: 30px;
    align-items: end;
}

.principal2__conteudo__dentro{
    display: flex;
    flex-direction: column;
}

.principal2__conteudo2{
    display: flex;
    flex-direction: column;
}

.principal2__conteudo2__dentro{
    font-size: 12px;
}

.cabecalho__titulos{
    font-size: 64px;
}

.cabecalho__botoes{
    font-size: 20px;
}

.rodape__paragrafo{
    font-size: 32px;
}

.titulo{
    font-size: 64px;
}

.text__label{
    font-size: 28px;
}

.botao{
    border-radius: 10px;
    width: 100px;
}

.titulo2{
    font-size: 36px;
}

.card__paragrafo{
    font-size: 24px;
}

.cabecalho__titulo{
    font-size: 36px;
}

.icon{
    background-color: lightgrey;
}

.inicio__titulo{
    font-size: 42px;
}

.inicio__paragrafo{
    font-size: 24px;
}

.bemvindo{
    border: 2px transparent #000000;
    border-radius: 40px;
}

.centralizando{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.centralizando2{
    display: flex;
    justify-content: center;
    margin-top: 130px; /*150*/
}

.centralizando3{
    display: flex;
    flex-direction: row;
    margin-top: 150px; /*margin de 8% e tirar fixedbottom*/
    margin-left: 250px;
}