
body{
    background-color: white;
}

.navbar{
    background-color:#3C6E71;
    color: #E6B503;
}

.iphonetxt{
    color:black;
    text-align: center;
    margin-top:74px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.item {
    display: flex;
    text-align: center;
    justify-content: center;
}


.btn-buy {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
}

footer{
    display: flex;
    background-color: #ffffff;
    color: white;
    padding: 30px;
    justify-content: center;
}


#map {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 500px; 
    width: 100%;
}