
navbar{
    background-color:#284A63;
    color: #E6B503;
}

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

h4{
    font-size: 80px;
}

footer{
    display: flex;
    background-color: #ffffff;
    color: white;
    padding: 30px;
    justify-content: center;
}

/* .carousel{
    margin-bottom: 80px;
} */

.quote{
    /* margin-bottom: 80px; */
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgb(83,107,112);
    background: radial-gradient(circle, rgba(83,107,112,1) 0%, rgba(255,255,255,1) 55%);
}

.imagem{
    width: 1200px;
    height: 600px;
}
.iphonetxt{
    color:black;
    text-align: center;
    margin-top:74px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.item {
    text-align: center;
    justify-content: center;
}


.btn-buy {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
}

footer{
    display: flex;
    background-color: #ffffff;
    color: white;
    padding: 30px;
    justify-content: center;
}


#map {
    height: 100%;
    width: 100%;
}

#map-container {
    height: 500px; 
    width: 100%;
}